README.md~
report.aux
report.fdb_latexmk
report.log
report.pdf
report.tex~
natbibspacing.sty
src/french.foma~
src/french.lexc~
src/runfoma.sh~
src/runfoma.sh
src/*~
*~
test*
data/
*.bin
temp/
src/runflookup.sh
report.synctex.gz
